body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

.submit-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3366cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #254c99;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}